:root{
    --primary-color:#f12711;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --navbar-height:56px;
    --header-height:130px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* test */
@keyframes LamCham {
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}
@keyframes growth {
    from{
        transform: scale(var(--growth-from));

    }
    to{
        transform: scale(var(--growth-to));
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: LamCham linear 0.2s;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.418);
}
.modal__body{
    --growth-from: 0.5;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.btn{
    line-height: 16px;
    display: inline-flex;
    justify-content:center;
    color:var(--text-color);
    min-width: 90px;
    min-height:30px;
    text-decoration: none;
    border:none;
    border-radius: 2px;
    font-size:1.5rem;
    line-height:30px;
    outline: none;
    padding: 0 12px;
    align-items:center;
    background-color:#fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px #888;
}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.3);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disabled{
    color: #949494;
    cursor:default;
    background-color:#c3c3c3;
}
.btn.btn--sizeS{
    height:28px;
    font-size:12px;
    padding:0;
}
/* select */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: #fff;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    z-index: 1;
    position: absolute;
    display: none;
    left: 0;
    padding: 8px 16px;
    list-style: none;
    right:0;
    top: calc(100% + -6px);
    border-radius: 3px;
    background-color: var(--white-color);
    box-shadow: 3px 3px 6px #999;
}
.select-input__list::before{
    content: "";
    width: 200px;
    height: 15px;
    top: -6px;
    left: 0;
    position: absolute;
}
.select-input__item a{
    display: block;
    padding: 6px 0px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.select-input__item a:hover{
    color: var(--primary-color);
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(87, 86, 86);
    position: relative;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    list-style: none;
    margin: 0 12px;
}
.pagination-item-link{
    --height:30px;
    min-width: 40px;
    min-height: var(--height);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    color: #939393;
    display: block;
    line-height: var(--height);
    text-align: center;
    border-radius: 3px;
}
.pagination-item--active{
    color:#fff;
    background-color: var(--primary-color);
}
.pagination-item--active:hover{
    background-color: rgba(218, 20, 20, 0.589);
}